<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AnimeBase</title>
    <link rel="icon" type="image/x-icon" href="../static/images/otaku-icon.ico">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style_anime.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand">
            <img src="../static/images/otaku.png" alt="Icon" style="margin-right: 5px;">
            AnimeBase
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('retrieve_data') }}">Watchlist</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="mt-5">
        <div class="title text-center">
            <h3>Otaku Series Tracker</h3>
        </div>
    </section>

    <section class="form-section">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../static/images/form.jpg" alt="Card Height Image" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <form method="post" action="{{ url_for('form_data') }}" onsubmit="showPopup()">
                                <div class="form-group">
                                    <label for="AnimeName">Anime Name:</label>
                                    <input type="text" class="form-control" id="AnimeName" name="AnimeName"
                                        placeholder="Enter Anime name" required>
                                </div>
                                <div class="form-group">
                                    <label for="Types">Choose an option:</label>
                                    <select class="form-control" id="Types" name="Types" onchange="toggleThirdField()"
                                        required>
                                        <option default>--Select--</option>
                                        <option value="ONA">ONA</option>
                                        <option value="Movie">Movie</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="Episodes">Episodes (If ONA):</label>
                                    <input type="number" class="form-control" id="Episodes" name="Episodes"
                                        placeholder="Enter an integer" oninput="this.value = Math.abs(this.value)"
                                        required>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="mt-5">
        <p>&copy; 2023 AnimeBase. All rights reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function toggleThirdField() {
            var selectedOption = document.getElementById("Types").value;
            var thirdField = document.getElementById("Episodes");

            // Enable the third field only if Option A is selected
            thirdField.disabled = (selectedOption !== "ONA");
        }

        function showPopup() {
            var anime_name = document.getElementById('AnimeName').value;
            var anime_type = document.getElementById('Types').value;
            var anime_episodes = null;

            if (anime_type == 'Movie') {
                anime_episodes = 1;
            } else {
                anime_episodes = document.getElementById('Episodes').value;
            }

            alert("Data Saved: " + anime_name + ", " + anime_type + " saved with " + anime_episodes + " episodes.");

            return true;
        }

    </script>

</body>

</html>