html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #2B2B28;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #343a40;
    color: white;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.container {
    flex: 1;
    margin-top: 50px;
    width: 700px;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #4A4A48;
}

#Episodes[disabled] {
    cursor: not-allowed;
}

label {
    color: #ffdd95;
    font-family: Poppins, Arial;
    font-weight: 500;
    font-size: 18px !important;
}

.title {
    color: #ffffff;
}