html,
body {
    background-color: #2B2B28;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #343a40;
    color: white;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.container {
    flex: 1;
    margin-top: 50px;
    width: 700px;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #4A4A48;
}

#Episodes[disabled] {
    cursor: not-allowed;
}

label {
    color: #ffdd95;
    font-family: Poppins, Arial;
    font-weight: 500;
    font-size: 18px !important;
}

.title {
    color: #ffffff;
}

.circle-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.circle-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.message-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.circle-container:hover .message-box {
    opacity: 1;
}