body {
    background-color: #2B2B28;
    margin-bottom: 90px;
    margin-top: 90px;
}

.navbar {
    background-color: #343a40;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.navbar a {
    color: #ffffff;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

@media (max-width: 767px) {
    body {
        margin-bottom: 80px;

    }
}

.title {
    color: #ffffff;
}

.flat-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    border: 1px solid #000;
    border-radius: 8px;
    overflow: wrap;
    margin: 10px;
    width: 45%;
    background-color: #343a40;
}

.card img {
    width: 170px;
    height: 220px;
    border-radius: 8px 0px 0px 8px;
    object-fit: fill;
}

.card-content {
    padding: 10px;
    text-align: center;
}

h2 {
    color: #ffdd95;
    font-weight: 700;
    font-size: larger;
}

h4 {
    color: #fff;
    font-weight: 600;
    font-size: medium;
}

p {
    color: #fff;
    font-weight: 400;
    font-size: medium;
}

a:hover {
    text-decoration: none;
}

.circle-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.circle-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.message-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.message-link,
.message-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.circle-container:hover .message-box {
    opacity: 1;
}

.star {
    width: 20px;
    height: 20px;
}